@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    font-weight: 400;    
    font-style: normal;
}

.container{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.card{
  width: 100%;
  max-width: 400px;
  min-height: 423px;
  background-color: #FFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.card-image {
  width: 360px;
  height: 240px;
  border-radius: 10px;
  background: url(https://i.imgur.com/8lfyON3.png) 100% 100.125% no-repeat;
}

.card-container{
  width: 90%;
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-container__title {
  width: calc(100% - 50px);
  color: #393232;
  font-size: 22px;
  font-weight: 600;
  transition: color 1.3s;
}














.card-container__button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
  border-radius: 100%;
  border: none;  
  transition: background-color 1.5s ease;
}

.card-container__button:hover {
  background-color: #EC4646;
}
.card-container__title:hover {
  color: #3932325e;
  transition: 1.3s;
  }
.like-button__icon {
  width: 25px;
  height: 25px;
  stroke: #5e5e5e;
  transition: stroke 1.5s ease;
}

.card-container__button:hover .like-button__icon {
  stroke: #fff;
}








.card-footer {
  width: 90%;
  display: flex;
  align-items: flex-start ;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top:1px solid #DDD;
}

.view-counter,
.calendar {
  display: flex;
  align-items: center;
  position: relative;
}

.view-counter__icon {
  width: 18px;
  height: 18px;
  stroke: #787878;
}

.view-counter__number,
.calendar__date{
  color: #787878;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;   
  padding-left: 4px;
}

.calendar__icon {
  width: 16px;
  height: 16px;
  stroke: #787878;
}



.calendar::before {
  content: '\2022'; 
  color: #787878;
  margin-left: 9px;
  margin-right: 11px;
}




/*These styles are essential to make the content look appealing.*/

body{
  background-color: #858585; 
}

.container{
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
}