@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    font-weight: 400;    
    font-style: normal;
}

.container{  
  min-height: 100vh;
  width: 100%;
  /* max-width: 1440px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.card {
  width: 100%;
  max-width: 400px;
  min-height: 423px;
  background-color: #FFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.card__image{
  width: 360px;
  height: 240px;
  border-radius: 10px;
}

.card__container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
  justify-content: space-between;
  /* background-color: pink; */
}

.card__title {
  width: 220px;
  color: #393232;
  font-size: 22px;
  font-weight: 600;
}

.like-button {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
  border-radius: 100%  !important;
  border: none;
}
.like-button__icon {
  width: 25px;
  height: 25px;
  stroke: #5e5e5e;
}



.footer {
  width: 90%;
  display: flex;
  align-items: flex-start ;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top:1px solid #DDD;
}

.view-counter,
.calendar {
  display: flex;
  align-items: center;
  position: relative;
}

.view-counter::after{
  content: '\2022'; 
  color: #787878;
  margin-left: 5px;
}

.view-counter__icon,
.calendar__icon {
  margin-right: 8px; /* Добавлено пространство между иконкой и текстом, настройте по вашему усмотрению */
}

.view-counter__number{
  color: #787878;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
}


.calendar__wrapper {
  position: relative;
}

.calendar__date {
  color: #787878;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 25px; /* Расстояние между значком и левым краем, настройте по вашему усмотрению */
  border: none; /* Удаление рамки вокруг элемента ввода */
  outline: none; /* Удаление контура фокуса при клике */
}

.calendar__icon {
  position: absolute;
  top: 50%;
  left: 5px; /* Расстояние между значком и левым краем, настройте по вашему усмотрению */
  transform: translateY(-50%);
  pointer-events: none; /* Это позволит щелчкам проходить сквозь иконку на input[type="date"] */
}



.calendar__date::-webkit-calendar-picker-indicator {
  display: none;
}

.calendar__date[type="date"] {
  -moz-appearance: none;
}

.calendar__date[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}






/*These styles are essential to make the content look appealing.*/

body{
  background-color: #858585; 
}
